<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition Attendance</title>
</head>
<body>
    <h1>Face Recognition Attendance</h1>
    <button onclick="startAttendance()">Start Attendance</button>
    <div>
        <img src="{{ url_for('video_feed') }}" width="640" height="480">
    </div>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <ul>
            {% for name in recognized_names %}
                <li>{{ name }} - Attendance marked</li>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript">
        function startAttendance() {
            fetch('/start_attendance')
                .then(response => response.text())
                .then(data => alert(data))
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
